annotated-types==0.7.0
anyio==4.10.0
appdirs==1.4.4
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
bcrypt==4.3.0
beautifulsoup4==4.13.5
bottle==0.13.4
bs4==0.0.2
cachetools==6.2.2
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
click==8.2.1
contourpy==1.3.3
cryptography==44.0.2
cssselect==1.3.0
cycler==0.12.1
distro==1.9.0
dnspython==2.8.0
ecdsa==0.19.1
email-validator==2.3.0
fake-useragent==2.2.0
fastapi==0.116.1
fonttools==4.59.2
git-filter-repo==2.47.0
google-ai-generativelanguage==0.6.15
google-api-core==2.28.1
google-api-python-client==2.187.0
google-auth==2.43.0
google-auth-httplib2==0.2.1
google-generativeai==0.8.5
googleapis-common-protos==1.72.0
greenlet==3.2.4
grpcio==1.76.0
grpcio-status==1.71.2
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httplib2==0.31.0
httptools==0.7.1
httpx==0.28.1
idna==3.10
importlib_metadata==8.7.0
jiter==0.11.0
kiwisolver==1.4.9
linkify-it-py==2.0.3
lxml==6.0.2
lxml_html_clean==0.4.3
markdown-it-py==4.0.0
matplotlib==3.10.6
mdit-py-plugins==0.5.0
mdurl==0.1.2
motor==3.7.1
numpy==2.2.6
openai==2.3.0
opencv-python==4.12.0.88
packaging==25.0
parse==1.20.2
passlib==1.7.4
pillow==11.3.0
platformdirs==4.9.2
playwright==1.55.0
prek==0.2.25
proto-plus==1.26.1
protobuf==5.29.5
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
pyee==13.0.0
Pygments==2.19.2
pymongo==4.14.1
pyparsing==3.2.3
pyperclip==1.9.0
pyppeteer==0.0.25
pyquery==2.0.1
PySide6==6.10.2
PySide6_Addons==6.10.2
PySide6_Essentials==6.10.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-jose==3.5.0
PyYAML==6.0.3
requests==2.32.5
requests-html==0.10.0
rich==14.3.3
rsa==4.9.1
shiboken6==6.10.2
six==1.17.0
sniffio==1.3.1
soupsieve==2.8
sse-starlette==3.0.3
starlette==0.47.3
textual==8.0.0
tqdm==4.67.1
typing-inspection==0.4.1
typing_extensions==4.15.0
uc-micro-py==1.0.3
uritemplate==4.2.0
urllib3==1.26.20
uvicorn==0.35.0
uvloop==0.21.0
w3lib==2.3.1
watchfiles==1.1.0
websockets==10.4
zipp==3.23.0
